#emailLink {
    color: blue;
}

.contactSectionTitle {
    font-size: 2rem;
}

.contactSectionContainer {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    background-color: rgba(107, 107, 107, 0.224);
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
}