#topContainer {
  margin-top: 40vh;
  margin-left: 5vh;
  margin-right: 5vh;
  height: 65vh;
}

#titleSectionContainer {
  display: block;
}

#title {
  font-size: 5rem;
}

#subtitle {
  font-size: 2rem;
}

#rightContainer {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 80%;
  flex: 1 1 auto;
  margin-right: 5vw;
  margin-left: 5vw;
  /* background-color: white; */
}



@media (min-width:1000px){

  #topContainer {
    margin-top: 40vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    height: 65vh;
  }

  #rightContainer {
    padding-left: 5vh;
    padding-right: 5vh;
    width: 80%;
    flex: 1 1 auto;
    margin-right: 5vw;
    margin-left: 5vw;
    /* background-color: white; */
  }
}

#profilepic {
  width: 5rem;
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;
  
}

#externalsContainer {
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 2vh;

}


#rightContainerTopSpacer {
  height: 10vh;
}



#profilepicNameContainer {
  display: block;

}



  