#homeContainer {
    padding-top: 50px;
    display: block;
    margin: auto;
    text-align: center;
  }
  
#profilepic {
  display: block;
  width: 230px;
  border-radius: 50%;
  margin: auto;
  border: 3px solid white;
}

#name {
  font-size: 35px;
  
}

  
  
  