body {
  width: 100vw;  
  display: flex;
  flex-direction: column;
}

#topContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#rightContainer {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1350px) {
  #rightContainer {
    width: 80vw;
  }
}

#bottomSpacer {
  height: 2.5rem;
}

@media (max-width: 400px) {
  #bottomSpacer {
    height: 10rem;
  }
}

#squiggle {
  position: fixed;
  top: 5rem;
  left: 0;
  height: auto;
  width: 110%;
  z-index: -10;
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}



#nameAndTitleContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  display: flex;
}

.downArrowContainer {
  width: 100%;
  margin-top: 25vh;
  text-align: center;
}


#profilePicContainer {
  padding-left: 10vw;
  text-align: center;
}

@media (max-width: 900px) {
  #nameAndTitleContainer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
  }

  #profilePicContainer {
    padding-left: 0px;
    text-align: center;
  }
    
  .downArrowContainer {
    width: 100%;
    margin-top: 5vh;
    text-align: center;
  }
}



#profilePic {
  background-image: url(../images/profilepic.png);
  /* background-color: black; */
  background-position: 50% 50%;
  background-size: 20rem;
  animation: warp 8s ease-in-out infinite;
  animation-iteration-count: infinite;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  max-width: 60vw;
  max-height: 60vw;
  border: 3px solid white;
}

@keyframes warp {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 400px) {
  #downarrow {
      fill: white;
      width: 3rem;
      margin-top: 15vh;
    }
}

#downarrow:hover {
  cursor: pointer;
}
#nameTitle {
  padding-top: 3rem;
  font-size: 6rem;
}

#nameSubtitle {
  font-size: 2rem;
  animation: fadein2 ease-in 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@media (max-width: 1350px) {
  #nameTitle {
    font-size: 5rem;
  }
  #nameSubtitle {
    font-size: 2rem;
  }
}
@media (max-width:800px) {
  #nameTitle {
    font-size: 4.5rem;
  }

  #nameSubtitle {
    font-size: 2rem;
  }
}

@media (max-width:575px) {
  #nameTitle {
    font-size: 3.5rem;
  }

  #nameSubtitle {
    font-size: 1.75rem;
  }
}
@media (max-width:450px) {
  #nameTitle {
    font-size: 2.5rem;
  }

  #nameSubtitle {
    font-size: 1.25rem;
  }
}








#profilepic {
  width: 5rem;
  border-radius: 50%;
  border: 2px solid white;
  margin: auto;
  
}

#externalsContainer {
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 2vh;

}


#rightContainerTopSpacer {
  height: 10vh;
}



#profilepicNameContainer {
  display: block;

}



  