#aboutContainer {
    margin-top: 50px;
    text-align: center;
}


#aboutDescription {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    max-width: 1000px;
    
    font-size: 30px;
    padding: 20px;
    border: 10px solid white;
}