.techsContainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 0px;
}

.techsContainer li{
    display: inline-block;
}

.techContainer{
    display: inline-block;
    justify-content: space-around;
    
}

.techSpan {
    display: block;
    
    font-style: oblique;
    font-size: 1.5vmax;
    margin-top:10px;
}

.techLogo {
    width: 8vmax;
}


#skillsGithubLinkContainer {
    text-align: center;
}

#pathFindContainer {
    margin: 20px;
    padding: 20px;
    background-color: rgb(44, 44, 58);
    border-radius: 15px;
    border: 2px solid white;
    margin-top: 30px;
}
