* {
  margin: 0;
}

#navbar {
  z-index: 1;
  padding-top: 0.8rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2rem;
  /* background-color: #f8f8f8; */
  background-color: transparent;
  /* border-bottom: 1px solid #ddd; */
}
#navLinkList {
  padding-left: 0rem;
  width:100%;
  justify-content: space-around;
}

#externalsList {
  padding-left: 1rem;
}

#navbar ul {
  display: flex;
  
  list-style: none;
}

#navbar a {
  text-decoration: none;
 
}

.navSpan {
  
  margin-right: 1.5vw;
  font-size: 1.2rem;
  transition: all .05s ease-in-out;
  color: white;
}

@media (max-width: 400px) {
  .navSpan {
    font-size: 0.8rem;
  }

}

.navSpan:hover {
  /* color: black; */
  color: #517fec;
}

#navLeftContainer {
  margin-left: 1vw
}

#navRightContainer {
  display: flex;
  float: right;
}

#navRightContainer .icon {
  margin-right: 1rem;
  border-radius: 20%;
}






