* {
  margin: 0;
}

#navbar {
  padding-top: 1vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 1.5rem;
  /* background-color: #f8f8f8; */
  background-color: #180f2f;
  border-bottom: 1px solid #ddd;
}

#externalsList {
  padding-left: 1rem;
  border-left: 1px solid white;
  
}

#navbar ul {
  display: flex;
  float: right;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  float: right;
}

.navSpan {
  float: right;
  margin-right: 2vw;
  font-size: 2vh;
  transition: all .05s ease-in-out;
  color: lightgray;
}

.navSpan:hover {
  transform: scale(1.03);
  /* color: black; */
  color: white;
}

#navLeftContainer {
  margin-left: 1vw
}

#navRightContainer {
  display: flex;
  float: right;
}

#navRightContainer .icon {
  margin-right: 20px;
  border-radius: 20%;
}

#navPic {
  float: left;
  margin-left: 5vw;
  height: 3.5vh;
  border-radius: 50%;
  margin-top: 0.5vh;
  border: 0.3vmin solid white;
}

#navName {
  float: left;
  margin-left: 1vh;
  font-size: 2vh;
  color: white;
}




