* {
  margin: 0;
}

#navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
#navButton {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: "europa", sans-serif;
  font-weight: bold;
  top: 10px;
  right: 10px;
  color: white;
}

#navButton:hover, #navButton:active #navButton:focus {
  background-color: gray;
  outline: none;
}

#logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
}



#contactInfo {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgb(29, 32, 46);
}

#contactInfo ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#contactInfo ul li{
  margin-right: 100px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: "europa", sans-serif;
  text-align: center;
  display: inline-block;
  color: white;

}

#contactInfo h4 {
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: auto;

}