#skillsContainer {
    text-align: center;
}


p {
    color: white;
    font-size: 50px;
}

.media{
    margin-top: 100px;
    font-weight: bold;
    font-size: 30px;
    font-family: "europa", sans-serif;
    text-align: left;
    color: white;
    display: table;
    height: fit-content;
}

.mediaIcon {
    width: 40px;
    border-radius:15%;
    margin-right: 10px;
}

.mediaLink {
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    margin-left: 20px;
    font-style: italic;
}
