.icon {
    height: 2.5vh;
    max-width: 2.5vh;
    fill: lightgray;
    margin-bottom:auto;
}

.icon:hover {
    transform: scale(1.2);
}

.mediaLink {
    text-align-last: center;
    justify-content: space-around;
}

