body {
    /* background-color: rgb(245, 245, 245); */
    background-color: #180f2f;
    margin: 0;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(108, 211, 255);
}

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2e3a37;
  color: white;
  transition: all .2s ease-in-out;
}

.sectionContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.description {
  line-height: 25px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 25;

}

::-webkit-scrollbar {
  display: none;
}