* {
  box-sizing: border-box;
}

body {
    /* background-color: #201f2a; */
    background-color: #1f1f2d;
    /* background-image: linear-gradient(#180f2f, #82ddbd); */
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

:root {
  scroll-behavior: smooth;
  width: 100vw;
}

footer {

  padding: 3rem 0;
  background-color: rgb(16, 16, 20);

}
.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

* {
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: lat, sans-serif;
  color: white;
  transition: all .2s ease-in-out;
}

.sectionContainer {
  width :100%;
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: left;
  overflow: auto;
  
}

.description {
  line-height: 25px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 25;

}

::-webkit-scrollbar {
  display: none;
}


.container-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}