.projectExampleContainer {
    margin-top: 20px;
    display: flex;
}

.projectImageContainer {
 
}

.projectImage {

    width: 180px;
    height: 180px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}

.projectImage:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.projectDescriptionContainer {
    width: 100%;
    text-align: left;
    margin: auto;
    margin-left: 100px;
    text-align: center;
    
}

.projectDescription {
    margin: auto;
    font-size: 3vh;
    line-height: 4.5vh;
}   