#projects {
    padding-top: 1rem;
}



.projectExampleContainer a {
    text-decoration: underline;
}

.projectExampleContainer {
    background-color: #201f2a92;
    /* background-color: darkblue; */
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    width: 70vw;
      
}

.projectAlignContainer.right {
    width: 100%;
    text-align: right;
}

.projectAlignContainer.right .projectImageContainer {
    text-align: right;
}

.projectAlignContainer.left .projectImageContainer {
    text-align: left;
}

.projectAlignContainer.left {
    width: 100%;
}

.projectExampleContainer.right {
    float:right;
    text-align: right;
}

.projectExampleContainer.left {
    float:left;
    text-align: left;
}



.projectDescriptionContainer {
    width: 100%;
    margin: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media (max-width:1250px) {

    .projectExampleContainer {
        margin-top: 2vmin;
        text-align: center;
    }

    .projectDescriptionContainer {
        width: 100%;
        margin: auto;
        /* text-align: center; */
    }

    .projectExampleContainer.right {
        display: flex;
        flex-direction: column-reverse;
    }
    .projectExampleContainer.left {
        flex-direction: column;
    }

}


.projectImage {

    width: 45rem;
    height: 30rem;
    max-width: 40vw;
    max-height: 30vw;
    border: 1px solid black;
    border-radius: 1rem;
    transition: all .1s ease-in-out;
}

.projectImage:hover {
    transform: scale(1.03);
    cursor: pointer;
}



.projectDescription {
    margin: auto;
    font-size: 3vh;
    line-height: 4.5vh;
}   