#projects {
    padding-top: 1rem;
    padding-bottom: 8rem;
}

.projectTitleContainer {
    padding-bottom: 2rem;
}

.projectTitle {
    font-size: 2rem;
    /* background: -webkit-linear-gradient(45deg,#01fe9c, #fb04c5); */
    background: -webkit-linear-gradient( #517fec, rgb(206, 227, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectDescription {
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.projectTechnologies {
    font-weight: bold;
    word-spacing: 1.5rem;
}

.projectExampleContainer a {
    text-decoration: underline;
}

.projectExampleContainer {
    width: 90%;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
      
}
.projectAlignContainer{
    border-top: 1px solid hsla(0, 0%, 100%, 0.35);
    overflow: auto;
    width: 100%;
    text-align: center;
    display: flex;
}

.projectImageContainer {
    text-align: center;
}


.projectDescriptionContainer {
    width: 15rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectImage {
    width: 35rem;
    height: 25rem;
    min-width: 15rem;
    min-height: 10rem;
    border-radius: 0.5rem;
    transition: all .1s ease-in-out;
}
@media (max-width:1250px) {
    .projectImage {
      width: 25rem;
      height: 18rem;  
    }

    .projectTitle {
        font-size: 2rem;
    }
    .projectExampleContainer {
        margin-top: 2vmin;
        gap: 2rem;
    }

    .projectDescriptionContainer {
        margin: auto;
        width: 15rem;
    }

}

@media (max-width: 975px){
    .projectImage {
        width: 60vw;
        height: 40vw;
    }

    .projectExampleContainer.right {
        flex-direction: column-reverse;
    }


    .projectExampleContainer.left {
        flex-direction: column;
    }
}


.projectImage:hover {
    transform: scale(1.03);
    cursor: pointer;
}



